<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{#if hideh2}}{{title}}{{else}}{{title}} - SimpleShare.IO{{/if}}</title>
    <meta name="google-site-verification" content="_h1MxgiRHa93duDgu7VbDBgSXlXqPshOhp6uS82fQdo"/>
    <meta name="msvalidate.01" content="E90DBA4A9D3D37F1056E64E5604A7A0D"/>
    <meta name="yandex-verification" content="19286758bf144d3d"/>
    <meta name="referrer" content="always" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="https://cdn.shoelace.style/1.0.0-beta24/shoelace.css"/>
    <style>
        h1 {
            font-weight: bold;
            color: #1c73ff;
            margin-top: 12px;
        }

        .q {
            font-weight: bold;
            margin-top: 1.25rem;
            margin-bottom: 0.25rem
        }

        .a {
            margin-bottom: 0.25rem;
        }
        .iconcell {
            text-align: center;
        }
    </style>
    <link rel="shortcut icon" href="/favicon.ico" />

    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1>
                        <a href="/"><img src="/favicon.svg" style="width:24pt;height:24pt;margin-top:-4pt;"/></a>
                        <a href="/">SimpleShare.IO</a>
                    </h1>
                    {{#if hideh2}}{{else}}<h2 class="pad-t-sm pad-b-0">{{ title }}</h2>
                    <hr class="mar-t-0" />{{/if}}