{{>above}}
            <p class="subtitle">
                Simple script-less share buttons
            </p>

            <p class="q">
                What is this?
            </p>
            <p class="a">
                A helper site to build buttons for sharing links on the various social sites, but without loading
                JavaScript or invading the privacy of your visitors. You can see the source code on <a href="https://www.github.com/fileformat/simpleshare">Github</a>.

            </p>

            <p class="q">
                How do I use it?
            </p>
            <p class="a">
                You can use the <a class="button" href="/linkbuilder.html">link builder</a> or DIY:
                Embed a link to <code>https://simpleshare.io/go</code> with the correct parameters:
            <table class="table-striped table-bordered">
                <thead>
                <tr>
                    <th>Parameter</th>
                    <th>Required?</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><code>site</code></td>
                    <td>Required</td>
                    <td>ID of the site where you want to share. See the list below.</td>
                </tr>
                <tr>
                    <td><code>url</code></td>
                    <td>Required</td>
                    <td>The complete URL (including http(s) and host name) of the page to share.</td>
                </tr>
                <tr>
                    <td><code>text</code></td>
                    <td>Optional</td>
                    <td>Short text description, usually the page title. Supported by most, but not all sharing sites.
                    </td>
                </tr>
                <tr>
                    <td><code>summary</code></td>
                    <td>Optional</td>
                    <td>Longer text description. Only supported by a few sharing sites.</td>
                </tr>
                <tr>
                    <td><code>image</code></td>
                    <td>Optional</td>
                    <td>Image to include. Only supported by a few sharing sites. Most sites get it from the <a
                        href="https://blog.kissmetrics.com/open-graph-meta-tags/">og:image metadata</a></td>
                </tr>
                <tr>
                    <td><code>ga</code></td>
                    <td>Optional</td>
                    <td>Google Analytics ID for server-side logging</td>
                </tr>
                </tbody>
            </table>
            </p>

            <p class="q">
                Which social sites are available?
            </p>
            <table class="table-striped table-bordered">
                <thead>
                <tr>
                    <th class="iconcell">Icon</th>
                    <th class="hide-sm-down">Name</th>
                    <th>ID<span class="hide-sm-down"> (for the <code>site</code> parameter)</span></th>
                    <th>Test</th>
                </tr>
                </thead>
                <tbody id="sitelist">
            {{#each sites}}
                <tr>
                    <td class="iconcell"><a href="{{this.logo_link}}"><img src="{{this.logo_url}}" style="height:24pt;padding-right:10px;" /></a></td>
                    <td class="hide-sm-down">{{this.name}}</td>
                    <td>{{this.id}}</td>
                    <td><a href="https://simpleshare.io/go?site={{this.id}}&url={{encodeURIComponent ../shareUrl}}&text={{encodeURIComponent ../shareText}}&summary={{encodeURIComponent ../shareSummary}}" rel="nofollow">Share on {{this.name}}</a></td>
                </tr>
            {{/each}}
                </tbody>
            </table>

            <p class="q">
                Can I use these images?
            </p>
            <p class="a">
                Yes, you can hotlink the images from <a href="http://www.vectorlogo.zone/logos/index.html#tile">VectorLogo.Zone</a>.
                If you want to host them yourself, you can get them from VLZ or the original source on
                github: <a href="https://github.com/edent/SuperTinyIcons">edent/SuperTinyIcons</a>. They are vector
                (.SVG) images that look good at any size and resolution.
            </p>

            <p class="q">
                How can I tell when someone shares?
            </p>
            <p class="a">
                Setup a free account at Google Analytics, and add a <code>ga</code> parameters with your Google
                Analytics ID. The ID should look like <code>GA-123456-7</code>
            </p>

            <p class="q">
                Aren't there a million sites that do exactly this?
            </p>
            <p class="a">
                Well, yes and no. AlternativeTo lists over <a
                href="https://alternativeto.net/software/sharethis/">20</a>. The most similar ones are <a
                href="http://sharingbuttons.io/">SharingButtons.io</a> and <a href="https://simplesharingbuttons.com/">SimpleSharingButtons</a>,
                but then
                you have maintain the list of sharing URLs and parameters.
            </p>

            <!-- how to add a site -->
            <!-- contributing in general -->
            <!-- details about GA calls -->

            <p class="q">
                Q
            </p>
            <p class="a">
                A
            </p>

        </div>
    </div>
</div>
</body>
</html>